html {
  overflow: hidden;
}

.names {
  padding-left: 5%;
  width: fit-content;
}

.summonerSpell {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.hero-head {
  padding: 1rem;
}

.team {
  border-radius: 25px;
}

.is-red {
  background: #c0392b;
}

.is-blue {
  background: #2980b9;
}

.is-material {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}
